@use "@jyosuushi/palette";

.CollectionSelection {
  margin: auto;
  width: 70%;

  .fieldset {
    background-color: palette.$pink-light;
    border-bottom: 1px solid palette.$black-dark;
    border-top: 1px solid palette.$black-dark;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
    padding: 15px 30px 10px;
    position: relative;
    user-select: none;

    .header {
      background-color: palette.$pink-base;
      border: 1px solid palette.$black-dark;
      font-size: 14px;
      left: 20px;
      padding: 5px;
      position: absolute;
      top: -15px;

      strong {
        font-weight: bold;
      }

      .subheader {
        font-size: 80%;
        font-style: italic;
      }
    }
  }
}
