@import "../../../palette.scss";
@import "../CounterTile.scss";

.CounterPreview {
  width: 70%;
  margin: auto;

  h3 {
    border-bottom: 1px solid $black-base;
    padding-bottom: 2px;
    color: $black-base;
    margin-bottom: 8px;
  }

  .counters {
    text-align: center;
    max-height: $min-counter-height * 3;
    overflow-y: auto;
  }
}
