@import "../../../palette";
@import "../../constants";

.FeedbackPage {
  padding: $page-margin;

  p {
    margin: 10px;

    &.intro {
      text-align: center;
    }

    &.link-entry {
      margin-bottom: 20px;
    }
  }

  hr {
    border: 0;
    border-top: 1px solid $app-outline;
    margin: 25px auto;
    width: 60%;
  }

  .feedback-link {
    text-decoration: none;

    img {
      position: relative;
      top: 3px;
    }

    strong {
      font-weight: bold;
      text-decoration: underline;
    }
  }

  .small {
    font-size: 13px;
  }
}
