@use "@jyosuushi/palette";
@use "@jyosuushi/ui/_constants";

.FeedbackPage {
  padding: constants.$page-margin;

  p {
    margin: 10px;

    &.intro {
      text-align: center;
    }

    &.link-entry {
      margin-bottom: 20px;
    }
  }

  hr {
    border: 0;
    border-top: 1px solid palette.$app-outline;
    margin: 25px auto;
    width: 60%;
  }
}
