@use "constants";
@use "../palette";

$border-radius: 6px;

.Application {
  background-color: palette.$white;
  border: 1px solid palette.$app-outline;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  border-top: 0;
  color: palette.$black-darkest;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  @media (max-width: constants.$normal-container-width) {
    &:not(.quiz-active) {
      border-left: 0;
      border-radius: 0;
      border-right: 0;
    }
  }

  @media (max-width: constants.$quiz-container-width) {
    &.quiz-active {
      border-left: 0;
      border-radius: 0;
      border-right: 0;
    }
  }
}
