@import "../palette.scss";

.FeedbackFooter {
  text-align: center;
  margin: 20px;
  font-size: 12px;

  .modal-link {
    color: $pink-darkest;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;

    .icon {
      position: relative;
      top: 3px;
    }

    .label {
      text-decoration: underline;
    }
  }
}
