@import "@jyosuushi/palette";

.JudgmentBubble {
  align-items: center;
  justify-content: center;

  &.block-circle {
    border: 15px solid $black-darkest;
    border-radius: 200px;
    display: flex;
    font-size: 60px;
    height: 200px;
    width: 200px;
  }

  &.inline {
    border: 2px solid $black-darkest;
    border-radius: 4px;
    display: inline-flex;
    font-size: 18px;
    font-weight: bold;
    padding: 6px;
  }

  &.incorrect {
    background-color: $incorrect-light;
    border-color: $incorrect-medium;
    color: $incorrect-dark;
  }

  &.correct {
    background-color: $correct-light;
    border-color: $correct-medium;
    color: $correct-dark;
  }

  &.skipped {
    background-color: $skipped-light;
    border-color: $skipped-medium;
    color: $skipped-dark;
  }

  &.ignored {
    background-color: $ignored-light;
    border-color: $ignored-medium;
    color: $ignored-dark;
  }

  rt {
    font-size: 20%;
  }
}
