@import "../palette";

$modal-border: $green-darkest;
$modal-background: $green-lightest;
$modal-header: $green-base;
$modal-button: $black-darkest;
$modal-button-hover: $green-darkest;

.ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
}
