@import "../../palette.scss";

.ScoreBar {
  background-color: $palette-score-bar-background;
  margin: 10px 0px;
  padding: 4px;
  font-size: 14px;
  display: flex;

  div.item {
    flex: 1;
    text-align: center;

    &.left {
      text-align: right;
    }

    &.right {
      text-align: left;
      border-left: 1px solid black;
      padding-left: 10px;
      margin-left: 10px;
    }

    strong {
      font-weight: bold;
    }
  }
}
