@use "@jyosuushi/palette";

// Constants
$header-vertical-padding: 12px;
$header-horizontal-padding: 20px;
$font-size-main-home: 48px;
$font-size-quiz: 20px;

// Keyframes (all scripted from home -> quiz; quiz -> home use these in reverse)
@keyframes home-rt-disappear {
  from {
    font-size: 14px;
  }

  to {
    font-size: 0;
  }
}

@keyframes home-subheader-disappear {
  from {
    font-size: 14px;
    margin-top: 6px;
  }

  to {
    font-size: 0;
    margin-top: 0;
  }
}

@keyframes home-main-shrink {
  from {
    font-size: $font-size-main-home;
    text-shadow: 1px 1px palette.$pink-darkest;
  }

  to {
    font-size: $font-size-quiz;
    text-shadow: none;
  }
}

@keyframes transitioning-from-home-keyframes {
  // Need something in here in order for Safari to get onAnimationEnd.
  // Make it be a transition from something to same value, we just need something.
  from {
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}

@keyframes sliding-site-name-left {
  from {
    text-align: center;
    width: 100%;
  }

  to {
    width: 0;
  }
}

@keyframes scorecard-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes transitioning-to-quiz-keyframes {
  // Need something in here in order for Safari to get onAnimationEnd.
  // Make it be a transition from something to same value, we just need something.
  from {
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}

@keyframes transitioning-from-quiz-keyframes {
  // Need something in here in order for Safari to get onAnimationEnd.
  // Make it be a transition from something to same value, we just need something.
  from {
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}

@keyframes transitioning-to-home-keyframes {
  // Need something in here in order for Safari to get onAnimationEnd.
  // Make it be a transition from something to same value, we just need something.
  from {
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}

// CSS
.Header {
  background-color: palette.$pink-dark;
  border-bottom: 1px solid palette.$app-outline;
  color: palette.$black-dark;
  overflow: hidden;
  padding: $header-vertical-padding $header-horizontal-padding;
  position: relative;

  &.home {
    text-align: center;

    &.resting-home {
      .sakura {
        opacity: 0.5;
      }
    }

    .main {
      font-size: $font-size-main-home;
      text-shadow: 1px 1px palette.$pink-darkest;
    }

    .subheader,
    rt {
      font-size: 14px;
      text-shadow: none;
    }

    .subheader {
      margin-bottom: 14px;
    }

    .subheader {
      margin-top: 6px;
    }

    .sakura {
      left: -45px;
      top: -80px;
      transform: rotateZ(55deg);
      width: 250px;
    }
  }

  &.quiz {
    font-size: $font-size-quiz;

    &.transitioning-to-quiz,
    &.transitioning-from-quiz {
      position: relative;

      .site-name {
        padding-left: 30px;
        text-align: center;
        white-space: nowrap;
      }

      .scorecard {
        bottom: $header-vertical-padding;
        opacity: 0;
        position: absolute;
        right: $header-horizontal-padding;
        top: $header-vertical-padding;
      }
    }

    &.resting-quiz {
      display: flex;

      .site-name {
        flex: 1;
        padding-left: 30px;
      }

      .scorecard {
        flex: 1;
      }

      .sakura {
        opacity: 1;
      }
    }

    .scorecard {
      align-items: center;
      display: flex;
      justify-content: flex-end;
    }

    .sakura {
      height: 90%;
      left: 5px;
      top: 5%;
    }
  }

  // Animations
  @mixin animate-element($keyframe, $duration: 0.5s) {
    animation-duration: $duration;
    animation-fill-mode: forwards;
    animation-name: $keyframe;
  }

  &.transitioning-from-home {
    @include animate-element(transitioning-from-home-keyframes, 0.4s);

    .main {
      @include animate-element(home-main-shrink, 0.25s);
    }

    .subheader {
      @include animate-element(home-subheader-disappear, 0.25s);
    }

    rt {
      @include animate-element(home-rt-disappear, 0.25s);
    }
  }

  &.transitioning-to-quiz {
    @include animate-element(transitioning-to-quiz-keyframes);

    .site-name {
      @include animate-element(sliding-site-name-left);
    }

    .scorecard {
      animation-delay: 0.1s;
      animation-duration: 0.4s;
      animation-fill-mode: forwards;
      animation-name: scorecard-fade-in;
    }
  }

  &.transitioning-from-quiz {
    @include animate-element(transitioning-from-quiz-keyframes, 0.25s);

    .site-name {
      @include animate-element(sliding-site-name-left, 0.25s);
      animation-direction: reverse;
    }

    .scorecard {
      animation-direction: reverse;
      animation-duration: 0.15s;
      animation-fill-mode: forwards;
      animation-name: scorecard-fade-in;
    }
  }

  &.transitioning-to-home {
    @include animate-element(transitioning-to-home-keyframes, 0.5s);

    .main {
      @include animate-element(home-main-shrink, 0.3s);
      animation-direction: reverse;
    }

    .subheader {
      @include animate-element(home-subheader-disappear, 0.3s);
      animation-direction: reverse;
    }

    rt {
      @include animate-element(home-rt-disappear, 0.3s);
      animation-direction: reverse;
    }
  }

  .scorecard {
    &.has-answered-question {
      &:not(.has-score) .only-if-answered .button-wrapper {
        border-left-color: transparent;
      }

      .only-if-answered {
        opacity: 1;

        .TooltipButton {
          cursor: pointer;
        }
      }

      .button-wrapper {
        border-left-color: palette.$black-darkest;
      }
    }

    .only-if-answered {
      display: flex;
      opacity: 0;
      transition: opacity 0.3s;

      .TooltipButton {
        cursor: default;
      }
    }

    .button-wrapper {
      border-left: 1px solid transparent;
      height: 20px;
      padding: 0 8px;
    }

    .score {
      margin-right: 8px;
    }
  }

  .HistoryModal {
    .rows {
      margin: 10px 20px 0;
    }
  }

  .sakura {
    opacity: 0;
    position: absolute;
    transition: opacity 0.2s;
  }
}
