link(rel="stylesheet", href="/layout.css", data-inline)
link(
  rel="stylesheet",
  href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap",
  data-inline-ignore
)
.container
  .main
    .header
      table.header-primary-title
        tr
          td.jyosuushi.furigana
            | じょすうし
          td
          td.renshuu.furigana
            | れんしゅう
        tr
          td.jyosuushi.kanji
            | 助数詞
          td.kanji
            | を
          td.renshuu.kanji
            | 練習
      .header-secondary-title
        | Let's review Japanese counters!
    .content
      block content
