.container {
  background-color: #fdd1db;
  font-family: "Ubuntu", sans-serif;
  padding: 15px 0;
}

.main {
  background-color: #fff;
  border: 1px solid #3a3a3a;
  margin: 0 auto;
  max-width: 400px;
  min-height: 100%;
  width: 50%;
}

.header {
  background-color: #f8a8bb;
  border-bottom: 1px solid #3a3a3a;
  color: #101010;
  line-height: 1;
  padding: 8px 20px;
  text-align: center;
}

.header-primary-title {
  font-weight: bold;
  margin: auto;
  text-shadow: 1px 1px #f594aa;
}

.header-primary-title .furigana {
  font-size: 12px;
}

.header-primary-title .kanji {
  font-size: 24px;
}

.header-primary-title .jyosuushi {
  text-align: right;
}

.header-primary-title .renshuu {
  text-align: left;
}

.header-secondary-title {
  font-size: 14px;
}

.content {
  font-size: 13px;
  padding: 6px;
}

.content > p:first-child {
  margin-top: 0;
}

.content a.call-to-action {
  background-color: #e4f0fb;
  border-radius: 6px;
  color: #85aed2;
  display: block;
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  text-align: center;
  text-decoration: none;
}

.content .link-fallback {
  font-size: 11px;
}
