@use "@jyosuushi/palette";

.tile {
  align-items: center;
  border: 1px solid palette.$gray-lightest;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 5px;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: palette.$blue-lightest;
    border-color: palette.$blue-base;
  }
}

.processing {
  justify-content: center;
}

.tile:not(.processing) .processingContent,
.tile.processing .primaryContent {
  display: none;
}

.counter {
  flex: 1;
  font-size: 24px;
}

.furigana {
  color: palette.$gray-base;
}

.counterText {
  color: palette.$black-base;
  font-weight: bold;
}

.name {
  color: palette.$gray-dark;
  font-size: 12px;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
