@import "@jyosuushi/palette";

.BreadcrumbBar {
  font-size: 14px;

  .flourish {
    position: relative;
    top: -1px;
  }

  a {
    color: $blue-dark;
    text-decoration: none;

    &.active {
      color: $black-dark;
      cursor: default;
      font-weight: bold;
      pointer-events: none;
    }
  }
}
