@use "@jyosuushi/palette";

$padding: 10px;
$icon-dimension: 20px;

.ToastDisplay {
  border-style: solid;
  border-width: 3px;
  display: grid;
  gap: $padding;
  grid-template-columns: 1fr $icon-dimension;
  padding: $padding;

  &.success {
    background-color: palette.$green-lightest;
    border-color: palette.$green-darkest;
  }

  .message {
    align-self: center;
  }

  .dismiss-container {
    align-items: center;
    display: flex;
    justify-content: center;

    .icon {
      cursor: pointer;
      height: $icon-dimension;
      width: $icon-dimension;
    }
  }
}
