@use "@jyosuushi/palette";

$tile-border-thickness: 1px;

$tile-width: 120px;
$tile-min-height: $tile-width;

$pink-tile-border-color: palette.$pink-dark;
$blue-tile-border-color: palette.$blue-dark;
$green-tile-border-color: palette.$green-dark;
