@use "@jyosuushi/palette";
@use "./constants";

$horizontal-adornment-height: 4px;
$horizontal-adornment-bg-opacity: 0.75;

.tile {
  border: constants.$tile-border-thickness solid palette.$white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  min-height: constants.$tile-min-height;
  position: relative;
  width: constants.$tile-width;
}

.horizontalAdornment {
  height: $horizontal-adornment-height;

  &.topAdornment {
    border-bottom: 1px solid palette.$white;
  }

  &.bottomAdornment {
    border-top: 1px solid palette.$white;
  }
}

.colorPink {
  background-color: palette.$pink-lightest;
  border-color: constants.$pink-tile-border-color;

  .horizontalAdornment {
    background-color: rgba(
      palette.$pink-light,
      $horizontal-adornment-bg-opacity
    );

    &.topAdornment,
    &.bottomAdornment {
      border-color: constants.$pink-tile-border-color;
    }
  }
}

.colorBlue {
  background-color: palette.$blue-lightest;
  border-color: constants.$blue-tile-border-color;

  .horizontalAdornment {
    background-color: rgba(
      palette.$blue-light,
      $horizontal-adornment-bg-opacity
    );

    &.topAdornment,
    &.bottomAdornment {
      border-color: constants.$blue-tile-border-color;
    }
  }
}

.colorGreen {
  background-color: palette.$green-lightest;
  border-color: constants.$green-tile-border-color;

  .horizontalAdornment {
    background-color: rgba(
      palette.$green-light,
      $horizontal-adornment-bg-opacity
    );

    &.topAdornment,
    &.bottomAdornment {
      border-color: constants.$green-tile-border-color;
    }
  }
}

.colorPink:hover {
  background-color: palette.$pink-light;

  .horizontalAdornment {
    background-color: rgba(
      palette.$pink-base,
      $horizontal-adornment-bg-opacity
    );
  }
}

.colorBlue:hover {
  background-color: palette.$blue-light;

  .horizontalAdornment {
    background-color: rgba(
      palette.$blue-base,
      $horizontal-adornment-bg-opacity
    );
  }
}

.colorGreen:hover {
  background-color: palette.$green-light;

  .horizontalAdornment {
    background-color: rgba(
      palette.$green-base,
      $horizontal-adornment-bg-opacity
    );
  }
}

.content {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  overflow: hidden;
  padding: 10px;
}

.primary {
  color: palette.$black-base;
  font-weight: bold;
  text-align: center;
}

.separator {
  background-color: palette.$black-dark;
  height: 1px;
  width: 80%;
}

.secondary {
  color: palette.$black-light;
  font-size: 0.75em;
  text-align: center;
}

.bottomLeftCorner {
  bottom: 0 - constants.$tile-border-thickness;
  left: 0 - constants.$tile-border-thickness;
  position: absolute;
  transform: rotateZ(180deg);
}

.topRightCorner {
  position: absolute;
  right: 0 - constants.$tile-border-thickness;
  top: 0 - constants.$tile-border-thickness;
}
