@use "sass:math";
@use "@jyosuushi/palette";
@use "./constants";

$dimension: 15px;
$line-dimension: math.ceil(math.hypot($dimension, $dimension));

.container {
  height: $dimension;
  overflow: hidden;
  width: $dimension;
}

.line {
  $offset-amount: math.div($dimension, 2);

  background-color: palette.$white;
  height: $line-dimension;
  pointer-events: none;
  transform: rotateZ(45deg)
    translate(
      #{ceil(math.div(-$dimension, 2)) + 1},
      #{math.div(-$line-dimension, 2)}
    );
  width: $line-dimension;
}

.pinkLine {
  border-bottom: constants.$tile-border-thickness solid
    constants.$pink-tile-border-color;
}

.greenLine {
  border-bottom: constants.$tile-border-thickness solid
    constants.$green-tile-border-color;
}

.blueLine {
  border-bottom: constants.$tile-border-thickness solid
    constants.$blue-tile-border-color;
}
