@use "@jyosuushi/palette";

.answersTableRow {
  td {
    border-left: 1px solid palette.$black-lightest;
    font-size: 18px;
    padding: 20px 0;
    text-align: center;
    vertical-align: middle;

    &.cell-counter {
      border-left: 0;
      font-size: 28px;
    }

    &.cell-hiragana {
      .irregular,
      .non-kango {
        font-size: 14px;
        font-style: italic;
        margin-left: 6px;
      }
    }
  }
}

.correct,
.correct-but-uncommon {
  .cell-rule,
  .cell-study-pack,
  .cell-kanji,
  .cell-hiragana .kana.user-answer {
    font-weight: bold;
  }
}

.correct {
  background-color: palette.$green-light;
}

.correct-but-uncommon {
  background-color: palette.$correct-but-uncommon-light;
}
