@use "@jyosuushi/palette";

.ResultsView {
  display: flex;
  flex-direction: column;

  .results {
    display: flex;

    .info {
      flex: 1;
      margin-left: 20px;

      h3 {
        border-bottom: 1px solid palette.$black-darkest;
        font-size: 40px;
        font-weight: bold;
        margin-top: 20px;

        &.incorrect {
          border-color: palette.$incorrect-medium;
          color: palette.$incorrect-dark;
        }

        &.correct {
          border-color: palette.$correct-medium;
          color: palette.$correct-dark;
        }

        &.skipped {
          border-color: palette.$skipped-medium;
          color: palette.$skipped-dark;
        }
      }

      p {
        margin: 20px 0;
      }
    }
  }

  .ignore-answer {
    background-color: palette.$skipped-light;
    border-color: palette.$skipped-medium;
    margin-right: 10px;
  }
}

.buttons {
  margin-top: 15px;
  text-align: center;
}
