# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store
scrubber_cache/
scripts/kazu/
jyosuushi.sqlite

# Docker
Dockerfile

# TypeScript
build/

# Configuration files
config.json

# Codegen files
*.generated.ts
*.generated.tsx
*.scss.d.ts
src/client/i18n/translations/*.json