# Node build artifacts
node_modules
npm-debug.log

# Local development
.DS_Store
jyosuushi.sqlite

# Deploying
.s3deployerrc.json
dist/

# Yarn
yarn-error.log

# Codegen files
*.generated.ts
*.generated.tsx
*.scss.d.ts
src/i18n/translations/*.json
