.japanese {
    font-family: Meiryo;
}

body {
    margin: 0px;
    background-color: #F5FFFF;
    min-width: 1000px;
    font-family: 'Roboto', sans-serif;
}

a, a:visited {
    color: #AE84DE;
}

a:hover {
    color: #C298F2;
}

h1, h4 {
    margin: 0px;
}

hr {
    margin: 10px;
    border: 0px;
    border-top: 1px dashed #A6D8FF;
}

/** ------------------ Side Panel ------------------ **/
div.sidePanel {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #BAECFF;
    border-right: 10px solid #A3B6FF;
    width: 400px;
}

div.sidePanel h5 {
    text-align: center;
    display: block;
    width: 50%;
    margin: 30px auto 6px auto;
    border-bottom: 1px solid black;
}

div.sidePanel h5:first-of-type {
    margin-top: 0px;
}

div.sidePanel div.inner {
    padding: 10px;
}

div.sidePanel div.inner.small {
    font-size: 15px;
}

div.sidePanel div.inner div.setsPanel {
    font-size: 13px;
    margin-bottom: 15px;
}

div.sidePanel div.inner div.setsPanel span.set {
    font-weight: bold;
}

div.sidePanel div.inner div.setsPanel span.set span.viewCounters {
    font-weight: normal;
    padding-left: 3px;
    cursor: pointer;
    font-style: italic;
}

div.sidePanel div.inner div.setsPanel span.set span.viewCounters span {
    text-decoration: underline;
}

div.sidePanel div.credit {
    position: absolute;
    bottom: 30px;
    text-align:center;
    font-size: 9px;
    width: 400px;
}

/** ------------------ Quiz Room ------------------ **/
div.quizRoom {
    display: block;
    height: 100vh;
    text-align: center;
    margin-left: 410px;
}

div.quizRoom h1 {
    font-size: 48px;
}

div.quizRoom h1 rt {
    font-size: 12px;
}

div.quizRoom button {
    margin-top: 50px;
    font-size: 32px;
}

div.quizRoom div.subheader {
    width: 47%;
    display: inline-block;
    font-size: 16px;
}

div.quizRoom div.subheader.left {
    text-align: right;
}

div.quizRoom div.subheader.right {
    text-align: left;
}

div.quizRoom div.subheaderDivider {
    display: inline-block;
    height: 20px;
    border: 1px solid #A3B6FF;
    background-color: #A6D8FF;
    width: 1px;
    position: relative;
    top: 5px;
}

div.quizRoom div.letsBegin {
    width: 75%;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

div.quizRoom div.letsBegin h3 {
    margin: 0px;
}

div.quizRoom div.letsBegin div.explanation {
    text-align: left;
    font-size: 13px;
    margin-top: 20px;
}

div.quizRoom div.quiz {
    position: relative;
}

div.quizRoom div.quiz div.score {
    margin: 20px;
    border: 3px solid #CDAD00;
    border-radius: 3px;
    background-color: #FFF8DC;
    position: absolute;
    padding: 10px 40px;
    font-size: 13px;
}

div.quizRoom div.quiz div.score  div.scorePercent {
    font-size: 36px;
}

div.quizRoom div.quiz div.superheader {
    font-size: 16px;
}

div.quizRoom div.quiz div.questionText {
    font-weight: bold;
    font-size: 60px;
    border-bottom: 1px solid black;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

div.quizRoom div.quiz input.answerInput {
    font-size: 32px;
    width: 40%;
    margin: 20px auto 0px auto;
    border: 2px solid #C298F2;
    color: black;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    background-color: #FFF4FF;
}

div.quizRoom div.quiz div.encouragement {
    font-size: 13px;
    margin-top: 10px;
}

div.quizRoom div.quiz button.letsCheck {
    margin: 40px auto 0px auto;
    font-size: 24px;
    padding: 2px 12px;
}

div.quizRoom div.quiz div.answerPanel {
    padding: 20px 50px;
}

div.quizRoom div.quiz div.answerPanel div.grade {
    border: 15px solid black;
    width: 200px;
    height: 140px;
    font-size: 60px;
    border-radius: 200px;
    text-align: center;
    padding-top: 60px;
    float: left;
}

div.quizRoom div.quiz div.answerPanel div.grade.correct {
    color: #397D02;
    border-color: #629632;
    background-color: #BCED91;
}

div.quizRoom div.quiz div.answerPanel div.grade.incorrect {
    color: #A02422;
    border-color: #EE6363;
    background-color: #FFCCCC;
}

div.quizRoom div.quiz div.answerPanel div.grade rt {
    font-size: 20%;
}

div.quizRoom div.quiz div.answerPanel div.answerHeader {
    font-weight: bold;
    font-size: 40px;
    text-align: left;
    margin-top: 20px;
    margin-left: 250px; /* we have to take care about the float:left 200px width grade circle */
    border-bottom: 1px solid black;
}

div.quizRoom div.quiz div.answerPanel div.answerHeader.correct {
    color: #397D02;
    border-bottom-color: #629632;
}

div.quizRoom div.quiz div.answerPanel div.answerHeader.incorrect {
    color: #A02422;
    border-bottom-color: #EE6363;
}

div.quizRoom div.quiz div.answerPanel div.answerText {
    margin-top: 20px;
    margin-bottom: 20px;
}

div.quizRoom div.quiz div.answerPanel table.possibleAnswers {
    margin-left: 250px;
    margin-top: 10px;
    border-collapse: collapse;
}

div.quizRoom div.quiz div.answerPanel table.possibleAnswers th {
    width: 200px;
    border-bottom: 1px solid #5C328C;
    min-width: 200px;
}

div.quizRoom div.quiz div.answerPanel table.possibleAnswers td {
    padding: 10px;
    border-left: 1px solid #E3B9FF;
}

div.quizRoom div.quiz div.answerPanel table.possibleAnswers td:first-of-type {
    border-left: none;
}

div.quizRoom div.quiz div.answerPanel table.possibleAnswers td.counter {
    font-size: 20px;
}

div.quizRoom div.quiz div.answerPanel table.possibleAnswers td.rule {
    font-size: 11px;
}

div.quizRoom div.quiz div.answerPanel table.possibleAnswers td.usersInput {
    color: green;
}

div.quizRoom div.quiz div.answerPanel table.possibleAnswers td.usersInput span.tick {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('tick.png') no-repeat;
    margin-right: 10px;
}

div.quizRoom div.quiz div.answerPanel table.possibleAnswers td div.irregular {
    font-size: 11px;
    color: red;
}

/****************** Loading Screen *******************/
div.loadingScreen {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: black;
    opacity: 0.8;
}

/****************** Counter examination *******************/
div.counterBackground {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.8);
}

div.counterBackground div.container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    background-color: #BAECFF;
    border: 6px solid #A3B6FF;
    height: 400px;
    max-height: 400px;
    overflow-y: scroll;
}

div.counterBackground div.container div.setName {
    border-bottom: 1px solid black;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    margin-bottom: 20px;
}

div.counterBackground div.container table {
    border-collapse: collapse;
    width: 100%;
}

div.counterBackground div.container table tr {
    border-top: 1px dashed black;
}

div.counterBackground div.container table tr:last-child {
    border-bottom: 1px dashed black;
}

div.counterBackground div.container table td.counter {
    font-size: 30px;
    text-align: right;
    vertical-align: middle;
    width: 100px;
    padding: 5px 10px;
}

div.counterBackground div.container table td.rule {
    font-size: 13px;
    vertical-align: middle;
}

div.counterBackground div.container button {
    padding: 5px 20px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid #C298F2;
    background-color: #FFF4FF;
    width: 200px;
    margin: 20px auto 20px auto;
    display: block;
    cursor: pointer;
}