.japanese {
	font-family: Meiryo;
}

body {
	margin: 0px;
	background-color: #FCF9FF;
	min-width: 1000px;
	font-family: 'Roboto', sans-serif;
}

a, a:visited {
	color: #AE84DE;
}

a:hover {
	color: #C298F2;
}

h1, h4 {
	margin: 0px;
}

hr {
	margin: 10px;
	border: 0px;
	border-top: 1px dashed #A6D8FF;
}

/** ------------------ Side Panel ------------------ **/
div.sidePanel {
	display: inline-block;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	background-color: #BAECFF;
	border-right: 10px solid #A3B6FF;
	width: 400px;
}

div.sidePanel h5 {
	text-align: center;
	display: block;
	width: 50%;
	margin: 30px auto 6px auto;
	border-bottom: 1px solid black;
}

div.sidePanel h5:first-of-type {
	margin-top: 0px;
}

div.sidePanel div.inner {
	padding: 10px;
}

div.sidePanel div.inner.small {
	font-size: 15px;
}

div.sidePanel div.credit {
	position: absolute;
	bottom: 30px;
	text-align:center;
	font-size: 9px;
	width: 400px;
}

/** ------------------ Quiz Room ------------------ **/
div.quizRoom {
	display: block;
	height: 100vh;
	text-align: center;
	background-color: #FCF9FF;
	margin-left: 410px;
}

div.quizRoom h1 {
	font-size: 48px;
}

div.quizRoom h1 rt {
	font-size: 12px;
}

div.quizRoom div.subheader {
	width: 47%;
	display: inline-block;
	font-size: 16px;
}

div.quizRoom div.subheader.left {
	text-align: right;
}

div.quizRoom div.subheader.right {
	text-align: left;
}

div.quizRoom div.subheaderDivider {
	display: inline-block;
	height: 20px;
	border: 1px solid #A3B6FF;
	background-color: #A6D8FF;
	width: 1px;
	position: relative;
	top: 5px;
}

div.quizRoom div.letsBegin {
	width: 75%;
	min-width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

div.quizRoom div.letsBegin h3 {
	margin: 0px;
}

div.quizRoom div.question {
	font-size: 11px;
	text-align: left;
}

div.quizRoom div.question.first {
	margin-top: 10px;
}

div.quizRoom div.letsBegin button {
	margin-top: 50px;
	font-size: 32px;
}

div.quizRoom table.input {
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 30px;
}

div.quizRoom table.input td {
	vertical-align: middle;
}

div.quizRoom input[type=text] {
	border: 1px solid #E0B783;
	border-radius: 3px;
	font-size: 24px;
	font-family: Meiryo;
	vertical-align:center;
	text-align:center;
	width: 400px;
	background-color: #FAF1D0;
}

div.quizRoom input[type=type] {
	border: 1px solid black;
	border-radius: 3px;
	width: 30px;
	height: 40px;
	cursor: pointer;
}

div.quizRoom table.history {
	width: 100%;
	border-collapse: collapse;
	font-size: 11px;
	margin-top: 20px;
}

div.quizRoom table.history th, div.quizRoom table.history td {
	width:16.667px;
	max-width:16.667px;
	min-width:16.667px;
}

div.quizRoom table.history th.question,
div.quizRoom table.history th.answer {
	background-color:#E7A746;
}

div.quizRoom table.history  .sub.question,
div.quizRoom table.history  .sub.answer,
div.quizRoom table.history  .sub.you {
	background-color: #E0B783;
	border-top: 1px dashed #E7A746;
}

div.quizRoom table.history   th.question:not(.sub),
div.quizRoom table.history   th.answer:not(.sub),
div.quizRoom table.history   th.sub.you {
	border-top: 1px solid black;
}

div.quizRoom table.history   .question {
	border-right: 1px solid black;
}

div.quizRoom table.history   .answer {
	border-left: 1px solid black;
}

div.quizRoom table.history th.sub {
	border-bottom: 1px solid black;
}

div.quizRoom table.history td {
	border-bottom: 1px dotted black;
}

div.quizRoom table.history tr.correct td {
	background-color: #CFFFC7;
}

div.quizRoom table.history tr.incorrect td {
	background-color: #FFD1D1;
}