@use "./constants" as dialog-constants;

.collectionRow {
  display: grid;
  gap: dialog-constants.$cell-separation;
  grid-template-columns: auto 1fr;
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
}
