@use "../../../../../../palette";

$dimensions: 20px;

.container {
  align-items: center;
  display: flex;
  height: $dimensions;
  justify-content: center;
  width: $dimensions;
}

.icon {
  cursor: pointer;
  height: $dimensions;
  width: $dimensions;

  circle {
    fill: palette.$white;
  }
}

button:hover .alreadyInCollection,
button:hover .notInCollection {
  path {
    opacity: 0.3;
  }
}

.alreadyInCollection {
  path {
    transition: opacity 100ms;
  }
}

.notInCollection {
  path {
    opacity: 0;
    transition: opacity 100ms;
  }
}
