@import "../../palette";

.AbortConfirmationModal {
  .content {
    height: auto;
    max-height: auto;
    padding: 15px;
    text-align: center;

    .buttons {
      margin-top: 15px;

      button {
        background-color: $green-base;
        border-color: $green-dark;
        font-size: 18px;
        width: 70px;

        &.confirm {
          background-color: $green-dark;
          margin-left: 8px;
        }
      }
    }
  }
}
