@import "../../../../../palette";

.emailSent {
  background-color: $blue-base;
  border: 2px solid $blue-darkest;
  border-radius: 4px;
  padding: 20px 10px;
  text-align: center;
}

.bold {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}
