extends ../layout.pug

block content
  p.
    Sorry that our last email got lost in delivery. We're grateful you registered <strong>#{email}</strong> with us,
    so let's get your account activated.

  p.
    In order to finish user registration, we need you to verify your email account with the link below.

  a.call-to-action(href=verifyEmailLink)
    | Verify email address

  p.link-fallback
    | If the link above doesn't work, navigate in your browser to #{verifyEmailLink}.
