extends ../text-layout.pug

block content
  | Sorry that our last email got lost in delivery. We're grateful you registered #{email} with us, so let's get your account activated.
  |
  | In order to finish user registration, we need you to verify your email account with the link below.
  |
  | #{verifyEmailLink}
