@use "constants";

.Container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: constants.$normal-container-width;
  min-height: 100%;
  transition: max-width 0.25s ease-in;

  &.quiz-active {
    max-width: constants.$quiz-container-width;
  }
}
