@import "../palette.scss";

.CounterDetails {
  padding: 20px;
  text-align: center;

  .kanji {
    font-size: 72px;
  }

  p.examples-prefix {
    margin: 10px 0px;
  }

  .irregular {
    color: red;
  }

  .examples-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    > div {
      border-top: 1px solid $green-dark;
      border-left: 1px solid $green-dark;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &:nth-of-type(3n-2) {
        border-left: 0px;
      }

      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-of-type(3) {
        border-top: 0px;
      }
    }

    .conjugation-container {
      padding: 15px;

      .amount {
        font-size: 24px;
        font-weight: bold;
      }
    }
  }

  .further-irregulars {
    margin: 15px 0px;
  }
}
