@use "@jyosuushi/palette";

.CreditsFooter {
  font-size: 12px;
  margin: 15px 0;
  text-align: center;

  a,
  a:visited {
    color: palette.$green-darkest;
    text-decoration: none;
  }

  a:hover {
    color: palette.$green-dark;
    text-decoration: underline;
  }
}
