.Markdown {
  h3 {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.5;
  }

  ol,
  ul {
    padding-left: 2em;
    margin-bottom: 16px;
    line-height: 1.5;
    list-style: disc;
  }

  strong {
    font-weight: 600;
    text-decoration: underline;
  }

  em {
    font-style: italic;
  }

  code {
    font-family: monospace;
  }
}
