@import "../../../palette";

.AnswerInput {
  &.disabled {
    opacity: 0.4;
  }

  .KanaInput {
    display: flex;
    position: relative;

    input {
      background-color: $blue-light;
      border: 3px solid $blue-dark;
      border-left: 0;
      border-right: 0;
      color: $black-base;
      flex: 1;
      font-size: 48px;
      outline: none;
      padding: 10px 0;
      text-align: center;
    }

    .submit-button-container {
      align-items: center;
      bottom: 0;
      display: flex;
      pointer-events: none;
      position: absolute;
      right: 10px;
      top: 0;
      width: 48px;

      .submit-button {
        background-color: $blue-base;
        border: 0;
        height: 48px;
        opacity: 0;
        outline-color: $black-dark;
        pointer-events: none;
        right: 10px;
        transform: translateX(10px);
        transition: opacity 0.2s, transform 0.2s;
        width: 48px;

        &.show {
          opacity: 1;
          pointer-events: auto;
          transform: none;
        }

        &:hover {
          background-color: $blue-dark;
        }
      }
    }
  }

  .submit-instructions {
    font-size: 12px;
    margin-top: 6px;
    opacity: 0;
    text-align: center;
    transform: translateY(-10px);
    transition: opacity 0.2s, transform 0.2s;

    &.has-value {
      opacity: 0.8;
      transform: none;
    }
  }
}
