@use "sass:math";
@use "@jyosuushi/palette";

$checkbox-height: 50px;
$box-dimension: $checkbox-height - 15px;
$horizontal-padding: 10px;

.Checkbox {
  align-items: center;
  background-color: palette.$green-lightest;
  border: 1px solid palette.$green-darkest;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  height: $checkbox-height;
  margin: auto;
  padding: 0 $horizontal-padding;
  width: 250px;

  &:hover {
    background-color: palette.$green-light;
  }

  &.checked {
    background-color: palette.$green-base;

    &:hover {
      background-color: palette.$green-dark;
    }
  }

  .icon {
    height: $box-dimension;
    margin-right: math.div($horizontal-padding, 2);
    width: $box-dimension;

    circle {
      fill: palette.$white;
    }
  }

  .label {
    flex: 1;
    user-select: none;
  }
}
