@use "@jyosuushi/palette";

$min-counter-height: 75px;

.CounterTile {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 6px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  max-width: calc((100% - 6px) / 3);
  min-height: $min-counter-height;
  text-decoration: none;
  width: calc((100% - 6px) / 3);

  &:hover {
    background-color: palette.$blue-lightest;
    border-color: palette.$blue-base;
  }

  .kanji {
    color: palette.$black-base;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .name {
    color: palette.$black-lightest;
    text-align: center;
  }
}
