@use "@jyosuushi/palette";

.InlineTrigger {
  color: palette.$pink-darkest;
  cursor: pointer;
  font-weight: 600;
  text-decoration: underline;

  &:hover {
    color: palette.$pink-dark;
    text-decoration: none;
  }
}
