@use "@jyosuushi/palette";

.JudgmentBubble {
  align-items: center;
  justify-content: center;

  &.block-circle {
    border: 15px solid palette.$black-darkest;
    border-radius: 200px;
    display: flex;
    font-size: 60px;
    height: 200px;
    width: 200px;
  }

  &.inline {
    border: 2px solid palette.$black-darkest;
    border-radius: 4px;
    display: inline-flex;
    font-size: 18px;
    font-weight: bold;
    padding: 6px;
  }

  &.incorrect {
    background-color: palette.$incorrect-light;
    border-color: palette.$incorrect-medium;
    color: palette.$incorrect-dark;
  }

  &.correct {
    background-color: palette.$correct-light;
    border-color: palette.$correct-medium;
    color: palette.$correct-dark;
  }

  &.skipped {
    background-color: palette.$skipped-light;
    border-color: palette.$skipped-medium;
    color: palette.$skipped-dark;
  }

  &.ignored {
    background-color: palette.$ignored-light;
    border-color: palette.$ignored-medium;
    color: palette.$ignored-dark;
  }

  rt {
    font-size: 20%;
  }
}
