// Taken and modified from https://loading.io/css/

@use "@jyosuushi/palette";

@mixin color-ring($color) {
  border-color: $color transparent transparent transparent;
}

.LoadingSpinner {
  display: inline-block;
  position: relative;
}

.blue .ring {
  @include color-ring(palette.$blue-darkest);
}

.green .ring {
  @include color-ring(palette.$green-darkest);
}

.pink .ring {
  @include color-ring(palette.$pink-darkest);
}

.ring {
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fcf transparent transparent;
  border-radius: 50%;
  border-style: solid;
  box-sizing: border-box;
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.first {
  animation-delay: -0.45s;
}

.second {
  animation-delay: -0.3s;
}

.third {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
