@use "@jyosuushi/palette";

.TooltipButton {
  cursor: pointer;
  display: inline-block;
  height: 20px;
  width: 20px;

  svg {
    opacity: 0.5;
    transition: opacity 100ms;

    path {
      fill: palette.$black-darkest;
    }
  }

  &:hover {
    svg {
      opacity: 1;

      path {
        fill: palette.$green-darkest;
      }
    }
  }
}
