@import "../../palette.scss";

$trans-dur: 0.1s;
$trans-func: linear;

.Header {
  font-size: 48px;
  background-color: $palette-header-background;
  border-bottom: 6px solid $palette-header-border;
  color: $palette-header-color;
  text-align: center;
  padding: 12px 0px;
  text-shadow: 1px 1px darken($palette-header-color, 35%);
  transition: padding $trans-dur $trans-func, font-size $trans-dur $trans-func,
    text-shadow $trans-dur $trans-func;

  .subheader,
  rt {
    font-size: 14px;
    text-shadow: none;
    transition: font-size $trans-dur $trans-func,
      display $trans-dur $trans-func $trans-dur;
  }

  .subheader {
    margin-top: 6px;
  }

  &.quiz-active {
    padding: 4px 0px;
    font-size: 24px;
    text-shadow: none;
    font-weight: 600;

    .subheader,
    rt {
      font-size: 0px;
      display: none;
    }
  }
}
