@import "../../palette.scss";

// Constants
$header-vertical-padding: 12px;
$header-horizontal-padding: 20px;
$font-size-main-home: 48px;
$font-size-quiz: 20px;

// Keyframes (all scripted from home -> quiz; quiz -> home use these in reverse)
@keyframes home-rt-disappear {
  from {
    font-size: 14px;
  }

  to {
    font-size: 0px;
  }
}

@keyframes home-subheader-disappear {
  from {
    font-size: 14px;
    margin-top: 6px;
  }

  to {
    font-size: 0px;
    margin-top: 0px;
  }
}

@keyframes home-main-shrink {
  from {
    font-size: $font-size-main-home;
    text-shadow: 1px 1px darken($palette-header-color, 35%);
  }

  to {
    font-size: $font-size-quiz;
    text-shadow: none;
  }
}

@keyframes transitioning-from-home {
}

@keyframes sliding-site-name-left {
  from {
    text-align: center;
    width: 100%;
  }

  to {
    width: 0;
  }
}

@keyframes scorecard-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes transitioning-to-quiz {
}

@keyframes transitioning-from-quiz {
}

@keyframes transitioning-to-home {
}

// CSS
.Header {
  background-color: $palette-header-background;
  border-bottom: 6px solid $palette-header-border;
  color: $palette-header-color;
  padding: $header-vertical-padding $header-horizontal-padding;

  &.home {
    text-align: center;

    .main {
      font-size: $font-size-main-home;
      text-shadow: 1px 1px darken($palette-header-color, 35%);
    }

    .subheader,
    rt {
      font-size: 14px;
      text-shadow: none;
    }

    .subheader {
      margin-top: 6px;
    }
  }

  &.quiz {
    font-size: $font-size-quiz;

    &.transitioning-to-quiz,
    &.transitioning-from-quiz {
      position: relative;

      .site-name {
        text-align: center;
        white-space: nowrap;
      }

      .scorecard {
        position: absolute;
        top: $header-vertical-padding;
        right: $header-horizontal-padding;
        bottom: $header-vertical-padding;
        opacity: 0;
      }
    }

    &.resting-quiz {
      display: flex;

      .site-name {
        flex: 1;
      }

      .scorecard {
        flex: 1;
        text-align: right;
      }
    }
  }

  // Animations
  @mixin animateElement($keyframe, $duration: 0.5s) {
    animation-duration: $duration;
    animation-fill-mode: forwards;
    animation-name: $keyframe;
  }

  &.transitioning-from-home {
    animation: 0.7s transitioning-from-home;

    .main {
      @include animateElement(home-main-shrink);
    }

    .subheader {
      @include animateElement(home-subheader-disappear);
    }

    rt {
      @include animateElement(home-rt-disappear);
    }
  }

  &.transitioning-to-quiz {
    @include animateElement(transitioning-to-quiz);

    .site-name {
      @include animateElement(sliding-site-name-left);
    }

    .scorecard {
      animation-duration: 0.4s;
      animation-fill-mode: forwards;
      animation-name: scorecard-fade-in;
      animation-delay: 0.1s;
    }
  }

  &.transitioning-from-quiz {
    @include animateElement(transitioning-from-quiz, 0.25s);

    .site-name {
      @include animateElement(sliding-site-name-left, 0.25s);
      animation-direction: reverse;
    }

    .scorecard {
      animation-duration: 0.15s;
      animation-fill-mode: forwards;
      animation-name: scorecard-fade-in;
      animation-direction: reverse;
    }
  }

  &.transitioning-to-home {
    animation: 0.5s transitioning-to-home;

    .main {
      @include animateElement(home-main-shrink, 0.3s);
      animation-direction: reverse;
    }

    .subheader {
      @include animateElement(home-subheader-disappear, 0.3s);
      animation-direction: reverse;
    }

    rt {
      @include animateElement(home-rt-disappear, 0.3s);
      animation-direction: reverse;
    }
  }
}
