@import "../../palette.scss";

$hover-darken-amount: 10%;

.PackSelection {
  width: 70%;
  margin: auto;

  .fieldset {
    border-top: 1px solid $palette-fieldset-border;
    border-bottom: 1px solid $palette-fieldset-border;
    background-color: $palette-fieldset-background;
    padding: 15px 30px 10px;
    position: relative;
    margin-top: 20px;
    user-select: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;

    .header {
      position: absolute;
      border: 1px solid $palette-fieldset-border;
      background-color: $palette-fieldset-header-background;
      left: 20px;
      top: -15px;
      padding: 5px;
      font-size: 14px;

      strong {
        font-weight: bold;
      }

      .subheader {
        font-style: italic;
        font-size: 80%;
      }
    }
  }

  .pack {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 120px;
    border: 1px solid $palette-study-pack-border;

    .front {
      background-color: $palette-study-pack-background;
      color: $palette-study-pack-color;
      flex: 1;
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: darken(
          $palette-study-pack-background,
          $hover-darken-amount
        );
        color: darken($palette-study-pack-color, $hover-darken-amount);

        &.checked {
          background-color: darken(
            $palette-study-pack-selected-background,
            $hover-darken-amount
          );
          color: darken($palette-study-pack-color, $hover-darken-amount);
        }

        .check {
          opacity: 1 !important;
        }
      }

      &.checked {
        background-color: $palette-study-pack-selected-background;
        color: $palette-study-pack-selected-color;

        .check {
          opacity: 0.7;

          path {
            fill: $palette-study-pack-selected-color;
          }
        }
      }

      .check {
        position: absolute;
        top: -7px;
        left: -7px;
        opacity: 0.5;
        width: 45px;
        height: 45px;

        path {
          fill: $palette-study-pack-color;
        }
      }

      .name {
        font-size: 48px;
      }
    }

    .view-details {
      border-top: 1px solid $palette-study-pack-border;
      text-align: center;
      padding: 3px;
      font-size: 14px;
      width: 100%;
      background-color: $palette-view-details-background;
      color: $palette-view-details-color;

      &:hover {
        background-color: darken(
          $palette-view-details-background,
          $hover-darken-amount
        );
        color: darken($palette-view-details-color, $hover-darken-amount);
      }
    }
  }

  .start {
    margin: 5px 0px;
    text-align: center;

    button {
      font-size: 22px;

      &:disabled {
        font-size: 18px;
      }
    }
  }
}
