@import "../ModalShared.scss";

@mixin animateElement($keyframe) {
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-name: $keyframe;
}

@keyframes transition-right-previous {
  from {
    left: 0%;
  }

  to {
    left: 100%;
  }
}

@keyframes transition-right-current {
  from {
    left: -100%;
  }

  to {
    left: 0%;
  }
}

@keyframes transition-left-previous {
  from {
    left: 0%;
  }

  to {
    left: -100%;
  }
}

@keyframes transition-left-current {
  from {
    left: 100%;
  }

  to {
    left: 0%;
  }
}

.TutorialWrapper {
  &.transitioning-right {
    .content {
      .viewport {
        .current {
          @include animateElement(transition-right-current);
        }

        .previous {
          @include animateElement(transition-right-previous);
        }
      }
    }
  }

  &.transitioning-left {
    .content {
      .viewport {
        .current {
          @include animateElement(transition-left-current);
        }

        .previous {
          @include animateElement(transition-left-previous);
        }
      }
    }
  }

  .content {
    display: flex;

    .left,
    .right {
      flex: 0 0 75px;
      display: flex;
      align-items: center;
      justify-content: center;
      user-select: none;
      margin: 10px 0px;

      &.enabled {
        cursor: pointer;

        &:hover {
          svg {
            opacity: 1;
          }
        }

        svg {
          opacity: 0.6;
        }
      }

      svg {
        width: 48px;
        transition: opacity 0.1s;
        opacity: 0.2;
      }
    }

    .left {
      border-right: 1px solid $modal-border;
    }

    .right {
      border-left: 1px solid $modal-border;
    }

    .viewport {
      flex: 1;
      background-color: green;
      position: relative;
      overflow: hidden;

      .current,
      .previous {
        position: absolute;
        top: 0px;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
      }

      .current {
        background-color: yellow;
      }

      .previous {
        background-color: purple;
      }
    }
  }
}
