@import "../ModalShared.scss";

@mixin animateElement($keyframe) {
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-name: $keyframe;
}

@keyframes transition-right-previous {
  from {
    left: 0%;
  }

  to {
    left: 100%;
  }
}

@keyframes transition-right-current {
  from {
    left: -100%;
  }

  to {
    left: 0%;
  }
}

@keyframes transition-left-previous {
  from {
    left: 0%;
  }

  to {
    left: -100%;
  }
}

@keyframes transition-left-current {
  from {
    left: 100%;
  }

  to {
    left: 0%;
  }
}

@keyframes transition-replace-current {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes transition-replace-previous {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.TutorialModal {
  &.transitioning-right {
    .content {
      .viewport {
        .current {
          @include animateElement(transition-right-current);
        }

        .previous {
          @include animateElement(transition-right-previous);
        }
      }
    }
  }

  &.transitioning-left {
    .content {
      .viewport {
        .current {
          @include animateElement(transition-left-current);
        }

        .previous {
          @include animateElement(transition-left-previous);
        }
      }
    }
  }

  &.transitioning-replace {
    .content {
      .viewport {
        .current {
          @include animateElement(transition-replace-current);
        }

        .previous {
          @include animateElement(transition-replace-previous);
        }
      }
    }
  }

  .content {
    display: flex;
    $button-inset-margin: 5px;

    .left,
    .right {
      flex: 0 0 75px;
      display: flex;
      align-items: center;
      justify-content: center;
      user-select: none;
      margin: $button-inset-margin 0px;
      transition: background-color 0.2s;
      border-radius: 5px;

      &.enabled {
        cursor: pointer;

        &:hover {
          background-color: $modal-header;
          svg {
            opacity: 1;
          }
        }

        svg {
          opacity: 0.6;
        }
      }

      svg {
        width: 48px;
        transition: opacity 0.1s;
        opacity: 0.2;
      }
    }

    .left {
      margin-left: $button-inset-margin;
    }

    .right {
      margin-right: $button-inset-margin;
    }

    .viewport {
      flex: 1;
      position: relative;
      overflow: hidden;

      .current,
      .previous {
        position: absolute;
        top: 0px;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        $separation-padding: 6px;

        .picture {
          flex: 1;
          display: flex;
          justify-content: flex-end;
          padding-bottom: $separation-padding;

          img {
            max-width: 300px;
            max-height: 300px;
            border: 1px solid $modal-border;
          }
        }

        .text {
          flex: 1;
          padding-top: $separation-padding;
          border-top: 1px solid $modal-border;
          width: 80%;
          text-align: center;
          white-space: pre-wrap;
        }

        .navigation {
          margin: 10px 0px;

          .navigation-link {
            width: 12px;
            height: 12px;
            margin: 0px 3px;
            cursor: pointer;
            transition: opacity 0.1s;
            opacity: 0.8;

            &.active {
              cursor: default;
              opacity: 1;

              circle {
                fill: $modal-button-hover;
              }
            }

            &:hover {
              opacity: 1;
            }

            circle {
              fill: $modal-button;
            }
          }
        }
      }
    }
  }
}
