@use "@jyosuushi/palette";

.QuizWrapup {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 35px 0;

  .score {
    font-size: 96px;
    font-weight: bold;
  }

  .buttons {
    border-bottom: 1px solid palette.$pink-base;
    margin-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    width: 75%;

    button {
      width: 70px;

      &:not(:first-child) {
        margin-left: 6px;
      }
    }
  }
}
