@import "../../../../palette.scss";

.ConjugationsSection {
  .irregular {
    color: red;
  }

  .strange {
    color: blue;
  }

  p.examples-prefix {
    margin: 10px 0px;
  }

  .examples-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    > div {
      border-top: 1px solid $app-outline;
      border-left: 1px solid $app-outline;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &:nth-of-type(3n-2) {
        border-left: 0px;
      }

      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-of-type(3) {
        border-top: 0px;
      }
    }

    .conjugation-container {
      padding: 15px;

      .amount {
        font-size: 24px;
        font-weight: bold;
      }
    }
  }

  .further-irregulars {
    margin: 15px 0px;
  }

  p.custom-input-prefix {
    margin: 15px 0px;
  }

  .conjugated-user-input {
    font-size: 28px;
  }

  .current-user-input {
    font-size: 24px;
    border: 1px solid $app-outline;
    border-radius: 5px;
    padding: 2px;
    margin-top: 10px;
    width: 75px;
  }
}
