@import "../../../../palette.scss";

.ExploreCounterPage {
  .contents {
    padding: 20px;
    text-align: center;

    h3 {
      font-size: 24px;
      font-weight: bold;
      border-bottom: 1px solid $app-outline;
      width: 50%;
      margin: 0px auto 20px;
      text-align: center;
    }

    .kanji {
      font-size: 72px;
      display: inline-block;
      padding: 17px;
      border-radius: 100%;
      border: 8px solid $pink-light;
      font-weight: bold;
    }

    .leadIn {
      margin: 30px 0px;
      font-size: 18px;
    }

    section + section {
      margin-top: 25px;
      border-top: 1px solid $black-light;
      padding-top: 25px;
    }
  }
}
