@import "../../../../palette.scss";

.ExploreCounterPage {
  .contents {
    padding: 20px;
    text-align: center;

    h3 {
      font-size: 24px;
      font-weight: bold;
      border-bottom: 1px solid $app-outline;
      width: 50%;
      margin: 0px auto 20px;
      text-align: center;
    }

    .kanji {
      font-size: 72px;
    }
  }
}
