@import "../../../../palette.scss";

.InfoSection {
  .notes {
    margin: 6px;
    color: $black-lightest;
    font-size: 15px;
    text-align: left;
  }

  h6 {
    text-align: left;
    font-weight: bold;
    margin: 15px 0px 5px;
  }

  ul.external-links {
    margin-left: 2rem;
    text-align: left;
    list-style: circle;

    li + li {
      margin-top: 5px;
    }

    a {
      font-weight: normal;
      text-decoration: none;

      strong.site {
        font-weight: bold;
        padding-right: 5px;
      }
    }

    .additional-description {
      font-size: 75%;
      margin-top: 3px;
    }
  }
}
