.MarkdownPresenter {
  p {
    line-height: 2;
  }

  rt {
    transform: scale(1.4);
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  > * + * {
    margin-top: 20px;
  }

  sup {
    vertical-align: super;
    font-size: 60%;

    a {
      text-decoration: none;
    }
  }

  img {
    // Currently the only use case we have is to display Japanese
    // characters that don't have unicode representations, so the image
    // size should be the same height as the text. If our use case ever
    // changes, introduce a backwards compatible implementation.
    // Test case: counter notes for 歳
    max-height: 16px;
  }

  ol,
  ul {
    padding-left: 2em;
    line-height: 1.5;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }
}
