@use "@jyosuushi/_constants";
@use "@jyosuushi/palette";

.standardButton {
  background-color: palette.$pink-light;
  border: 1px solid palette.$pink-base;
  border-radius: 4px;
  color: palette.$black-lightest;
  cursor: pointer;
  font-family: constants.$font-family;
  padding: 6px;

  &:hover:not(:disabled) {
    border-width: 2px;
    padding: 5px;
  }

  &:disabled {
    background-color: palette.$pink-lightest;
    border-color: palette.$pink-light;
    color: palette.$pink-dark;
    cursor: default;
    opacity: 0.5;
  }
}
