@use "@jyosuushi/palette";
@use "./content-tile/constants";

.tile {
  align-items: center;
  color: palette.$black-base;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-weight: bold;
  height: constants.$tile-min-height;
  justify-content: center;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  width: constants.$tile-width;
}

.active {
  .icon {
    path {
      fill: palette.$blue-darkest;
    }
  }

  .text {
    display: block;
  }
}

.icon {
  height: 80%;
  width: 80%;

  path {
    fill: palette.$blue-base;
  }
}

.text {
  color: palette.$blue-darkest;
  display: none;
  font-size: 14px;
}
