@use "@jyosuushi/palette";
@use "@jyosuushi/ui/constants";

.page {
  padding: constants.$page-margin;
}

.breadcrumbContainer {
  margin-bottom: constants.$page-margin;
}

.header {
  border-bottom: 1px solid palette.$app-outline;
  font-size: 24px;
  font-weight: bold;
  margin: 0 auto 10px;
  text-align: center;
  width: 50%;
}
