@use "@jyosuushi/palette";
@use "@jyosuushi/ui/constants";

.ReleaseNotesPage {
  padding: constants.$page-margin;

  .version-container {
    .version-header {
      color: palette.$pink-darkest;
      font-size: 1.5em;
      font-weight: 600;
      line-height: 1.5;

      .date {
        color: palette.$black-lightest;
        font-size: 13px;
        font-style: italic;
        font-weight: normal;
      }
    }

    .contents {
      border-left: 2px solid palette.$pink-light;
      margin-left: 3px;
      padding-left: 15px;
    }
  }

  .version-container + .version-container {
    margin-top: 16px;
  }
}
