extends ../layout.pug

block content
  p.
    Thank you for registering the account <strong>#{email}</strong> with us.
    We're excited to have you join us and we hope to be a benefit to your Japanese studies!

  p.
    In order to finish user registration, we need you to verify your email account with the link below.

  a.call-to-action(href=verifyEmailLink)
    | Verify email address

  p.link-fallback
    | If the link above doesn't work, navigate in your browser to #{verifyEmailLink}.
