extends ../text-layout.pug

block content
  | Thank you for registering the account #{email} with us.
  |
  | We're excited to have you join us and we hope to be a benefit to your Japanese studies!
  |
  | In order to finish user registration, we need you to verify your email account with the link below.
  |
  | #{verifyEmailLink}
