@import "@jyosuushi/palette";

.InfoSection {
  .notes {
    color: $black-lightest;
    font-size: 15px;
    margin: 6px;
    text-align: left;
  }

  h6 {
    font-weight: bold;
    margin: 15px 0 5px;
    text-align: left;
  }

  .external-links {
    list-style: circle;
    margin-left: 2rem;
    text-align: left;

    li + li {
      margin-top: 5px;
    }

    .language-icon {
      margin-right: 5px;
    }

    a {
      font-weight: normal;
      text-decoration: none;

      .site {
        font-weight: bold;
        padding-right: 5px;
      }
    }

    .description {
      font-size: 75%;
      margin-top: 3px;
    }
  }
}
