@import "../../../../palette.scss";

.SectionContainer {
  .header {
    border-bottom: 1px solid $black-dark;
    text-align: left;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: center;
    padding-bottom: 2px;
  }

  .contents {
    overflow: hidden;
  }
}
