@import "../../../../palette";

.header {
  align-items: center;
  border-bottom: 1px solid $black-dark;
  display: flex;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 2px;
  text-align: left;
}

.actions {
  flex: 1;
  margin-left: 10px;
}

.contents {
  overflow: hidden;
}

.sectionContainer + .sectionContainer {
  margin-top: 25px;
}
