@use "@jyosuushi/ui/constants";

.counterCollectionView {
  overflow-y: auto;
}

.breadcrumbContainer {
  padding: constants.$page-margin;
  padding-bottom: 5px;
}

.pageArea {
  display: grid;
  gap: constants.$page-margin;
  grid-template-columns: 1fr;
  padding: constants.$page-margin;
}
