@use "@jyosuushi/palette";

.ConjugationsSection {
  .irregular {
    color: palette.$counter-irregular;
  }

  .examples-prefix {
    margin: 10px 0;
  }

  .examples-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    > div {
      align-items: center;
      border-left: 1px solid palette.$app-outline;
      border-top: 1px solid palette.$app-outline;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &:nth-of-type(3n-2) {
        border-left: 0;
      }

      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-of-type(3) {
        border-top: 0;
      }
    }

    .conjugation-container {
      padding: 15px;

      .amount {
        font-size: 24px;
        font-weight: bold;
      }

      .conjugations {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .further-irregulars {
    margin: 15px 0;
  }

  .custom-input-prefix {
    margin: 15px 0;
  }

  .conjugated-user-input {
    display: flex;
    flex-direction: column;
    font-size: 28px;
  }

  .current-user-input {
    border: 1px solid palette.$app-outline;
    border-radius: 5px;
    font-size: 24px;
    margin-top: 10px;
    padding: 2px;
    width: 75px;
  }
}
