@use "@jyosuushi/palette";

.DisambiguationSection {
  .disambiguation {
    display: flex;

    .counterContainer {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 10px;

      .counter {
        border: 8px solid palette.$pink-light;
        border-radius: 100%;
        display: block;
        font-size: 48px;
        padding: 17px;
        text-decoration: none;
      }
    }

    .distinction {
      align-items: center;
      display: flex;
      flex-direction: column;
      font-size: 90%;
      line-height: 1.35;
    }
  }

  .disambiguation + .disambiguation {
    margin-top: 20px;
  }
}
