@use "@jyosuushi/palette";
@use "@jyosuushi/ui/constants";

.ExploreCounterPage {
  .contents {
    padding: 20px;
    text-align: center;

    .leadIn {
      font-size: 18px;
      margin-bottom: 30px;
    }

    section + section {
      border-top: 1px solid palette.$black-light;
      margin-top: 25px;
      padding-top: 25px;
    }
  }
}

.breadcrumbContainer {
  margin: constants.$page-margin;
  margin-bottom: 5px;
}
