@use "@jyosuushi/palette";

.MarkdownPresenter {
  img {
    // If the image element isn't the only child of a block element, then we need
    // to size the image so that it's inline with the rest of the text.
    max-height: 16px;
  }

  p {
    line-height: 2;

    > img:only-child {
      border: 1px solid palette.$black-base;
      display: block;
      margin: auto;
      max-height: unset;
      max-width: 80%;
    }
  }

  rt {
    transform: scale(1.4);
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  > * + * {
    margin-top: 20px;
  }

  sup {
    font-size: 60%;
    vertical-align: super;

    a {
      text-decoration: none;
    }
  }

  ol,
  ul {
    line-height: 1.5;
    padding-left: 2em;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }
}
