.modal {
  border-radius: 0 0 6px 6px;
  flex: 0 0 600px;
  max-width: 600px;
}

.header {
  font-size: 28px;
  font-weight: 600;
}

.content {
  max-height: 500px;
}

.standardHeight {
  height: 500px;
}
