@import "../../constants";
@import "../../palette";

$textarea-padding: 4px;
$textarea-border-width: 1px;

.BaseUserFeedbackForm {
  .explanation {
    color: $black-lightest;
    font-size: 13px;
    text-align: center;
  }

  .message-input {
    .field-label {
      font-size: 13px;
      font-weight: bold;
    }

    .input-element {
      border: $textarea-border-width solid $black-light;
      border-radius: 4px;
      display: block;
      font-family: $font-family;
      margin: 4px 0;
      padding: $textarea-padding;
      resize: none;
      width: calc(100% - #{($textarea-padding + $textarea-border-width) * 2});

      &:focus {
        outline: 2px solid $blue-base;
      }
    }

    .context-footer {
      color: $black-light;
      font-size: 11px;
      text-align: right;
    }
  }

  .action-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 6px;

    button {
      width: 80px;
    }

    button + button {
      margin-left: 6px;
    }
  }

  .error-container {
    background-color: $incorrect-light;
    border: 1px solid $incorrect-dark;
    margin-top: 6px;
    padding: 8px;
    text-align: center;
  }
}
