@import "@jyosuushi/palette";

.FeedbackFooter {
  font-size: 12px;
  margin: 20px;
  text-align: center;

  .modal-link {
    color: $pink-darkest;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;

    .icon {
      position: relative;
      top: 3px;
    }

    .label {
      text-decoration: underline;
    }
  }
}
