@import "../../../../palette";

.collectionLink {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 6px;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  padding: 6px;
  text-decoration: none;

  &:hover {
    background-color: $blue-lightest;
    border-color: $blue-base;
  }
}

.name {
  color: $black-base;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}

.count {
  color: $black-lightest;
  font-size: 14px;
  text-align: center;
}
