@import "../../../../palette";

.tile {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 6px;

  color: $black-base;
  display: inline-flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: bold;
  justify-content: center;
  padding: 6px;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: $blue-lightest;
    border-color: $blue-base;
  }
}
