@import "@jyosuushi/palette";
@import "./content-tile/constants";

.tile {
  align-items: center;
  color: $black-base;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-weight: bold;
  height: $tile-min-height;
  justify-content: center;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  width: $tile-width;
}

.active {
  .icon {
    path {
      fill: $blue-darkest;
    }
  }

  .text {
    display: block;
  }
}

.icon {
  height: 80%;
  width: 80%;

  path {
    fill: $blue-base;
  }
}

.text {
  color: $blue-darkest;
  display: none;
  font-size: 14px;
}
