@import "../../../../palette";
@import "../../../constants";

.page {
  padding: $page-margin;
}

.breadcrumbContainer {
  margin-bottom: $page-margin;
}

.header {
  border-bottom: 1px solid $app-outline;
  font-size: 24px;
  font-weight: bold;
  margin: 0 auto 10px;
  text-align: center;
  width: 50%;
}
