@import "@jyosuushi/palette";

.RegisterAccountPage {
  margin: auto;
  width: 75%;
}

.pageHeader {
  border-bottom: 1px solid $app-outline;
  font-size: 28px;
  font-weight: bold;
  margin: 0 auto 15px;
  padding-bottom: 5px;
  text-align: center;
  width: 50%;
}

.formPurpose {
  font-size: 14px;
  margin-bottom: 20px;
  text-align: center;
}

.registerSuccess {
  background-color: $blue-base;
  border: 2px solid $blue-darkest;
  border-radius: 4px;
  padding: 20px 10px;
  text-align: center;
}

.bold {
  display: inline;
  font-weight: bold;
}
