@import "../../palette.scss";

.FeedbackFooter {
  text-align: center;
  margin: 20px;
  font-size: 12px;

  a {
    text-decoration: none;

    img {
      position: relative;
      top: 3px;
    }

    span {
      text-decoration: underline;
    }
  }
}
