@use "@jyosuushi/palette";

.cell {
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  overflow: hidden;
  padding: 5px 10px;
  text-decoration: none;
  text-overflow: ellipsis;
}

.cell,
.cell:visited,
.cell:hover {
  color: palette.$black-dark;
}

.standard {
  background-color: palette.$blue-lightest;
  border-color: palette.$blue-dark;

  &:hover {
    background-color: palette.$blue-light;
  }
}

.user {
  background-color: palette.$green-lightest;
  border-color: palette.$green-dark;

  &:hover {
    background-color: palette.$green-light;
  }
}
