@import "../../../../palette";
@import "../../../ModalShared";

.ExploreStudyPackPage {
  overflow-y: auto;

  h3 {
    border-bottom: 1px solid $app-outline;
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto 20px;
    text-align: center;
    width: 50%;
  }

  p {
    margin: 8px 0;
    text-align: center;

    strong {
      font-weight: 600;
    }
  }

  table {
    $horizontal-padding: 20px;
    $vertical-padding: 10px;

    width: 100%;

    .counter {
      &:hover:not(.disabled) {
        background-color: $green-light;
        cursor: pointer;

        svg {
          opacity: 1;

          path {
            fill: $modal-button-hover;
          }
        }
      }

      td {
        vertical-align: middle;
      }

      .jp {
        font-size: 32px;
        padding-left: $horizontal-padding;
        padding-right: 20px;
        text-align: center;
        white-space: nowrap;
        width: 1px;

        .counterDisplay {
          display: inline-block;
          margin-bottom: $vertical-padding;
          margin-top: $vertical-padding;
        }
      }

      .name {
        vertical-align: middle;
      }

      .button {
        padding-right: $horizontal-padding;
        width: 1px;

        svg {
          height: 32px;
          opacity: 0.65;
          width: 32px;

          path {
            fill: $modal-button;
          }
        }
      }
    }
  }
}
