@import "../../../../../palette";

$tile-border-thickness: 1px;

$tile-width: 120px;
$tile-min-height: $tile-width;

$pink-tile-border-color: $pink-dark;
$blue-tile-border-color: $blue-dark;
$green-tile-border-color: $green-dark;
