@use "../../../palette";

.CollectionToggleButton {
  border: 1px solid palette.$black-dark;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  min-height: 120px;
  overflow: hidden;

  .front {
    align-items: center;
    background-color: palette.$blue-light;
    color: palette.$black-dark;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding-top: 15px;
    position: relative;
    width: 100%;

    &:hover {
      background-color: palette.$blue-lightest;

      &.checked {
        background-color: palette.$blue-base;
      }
    }

    &.checked {
      background-color: palette.$blue-dark;

      .check {
        opacity: 0.7;
      }
    }

    .check {
      height: 45px;
      left: -7px;
      opacity: 0;
      position: absolute;
      top: -7px;
      width: 45px;

      path {
        fill: palette.$white;
      }

      circle {
        stroke: palette.$white;
      }
    }

    .name {
      font-size: 24px;
      text-align: center;
    }
  }

  .view-details {
    background-color: palette.$blue-darkest;
    border-top: 1px solid palette.$black-dark;
    color: palette.$white;
    font-size: 14px;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    width: 100%;

    &:hover {
      background-color: palette.$blue-dark;
    }
  }
}
