@import "../../../palette.scss";

.PackSelection {
  width: 70%;
  margin: auto;

  .fieldset {
    border-top: 1px solid $black-dark;
    border-bottom: 1px solid $black-dark;
    background-color: $pink-light;
    padding: 15px 30px 10px;
    position: relative;
    margin-top: 20px;
    user-select: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;

    .header {
      position: absolute;
      border: 1px solid $black-dark;
      background-color: $pink-base;
      left: 20px;
      top: -15px;
      padding: 5px;
      font-size: 14px;

      strong {
        font-weight: bold;
      }

      .subheader {
        font-style: italic;
        font-size: 80%;
      }
    }
  }
}
