.PreparePage {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;

  p {
    margin-bottom: 10px;
    text-indent: 10px;

    strong {
      font-size: 120%;
      font-weight: bold;
    }
  }

  .start {
    margin: 5px 0;
    text-align: center;

    button {
      font-size: 22px;
    }
  }

  .CounterPreview {
    margin-top: 30px;
  }
}

.flex {
  flex: 1;
}
