@import "../../components/popups/ModalShared";

@mixin animate-element($keyframe) {
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-name: $keyframe;
}

@keyframes transition-right-previous {
  from {
    left: 0%;
  }

  to {
    left: 100%;
  }
}

@keyframes transition-right-current {
  from {
    left: -100%;
  }

  to {
    left: 0%;
  }
}

@keyframes transition-left-previous {
  from {
    left: 0%;
  }

  to {
    left: -100%;
  }
}

@keyframes transition-left-current {
  from {
    left: 100%;
  }

  to {
    left: 0%;
  }
}

@keyframes transition-replace-current {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes transition-replace-previous {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.TutorialModal {
  &.transitioning-right {
    .content {
      .viewport {
        .current {
          @include animate-element(transition-right-current);
        }

        .previous {
          @include animate-element(transition-right-previous);
        }
      }
    }
  }

  &.transitioning-left {
    .content {
      .viewport {
        .current {
          @include animate-element(transition-left-current);
        }

        .previous {
          @include animate-element(transition-left-previous);
        }
      }
    }
  }

  &.transitioning-replace {
    .content {
      .viewport {
        .current {
          @include animate-element(transition-replace-current);
        }

        .previous {
          @include animate-element(transition-replace-previous);
        }
      }
    }
  }

  .content {
    $button-inset-margin: 5px;
    display: flex;

    .left,
    .right {
      align-items: center;
      border-radius: 5px;
      display: flex;
      flex: 0 0 75px;
      justify-content: center;
      margin: $button-inset-margin 0;
      transition: background-color 0.2s;
      user-select: none;

      &.enabled {
        cursor: pointer;

        &:hover {
          background-color: $modal-header;

          svg {
            opacity: 1;
          }
        }

        svg {
          opacity: 0.6;
        }
      }

      svg {
        opacity: 0.2;
        transition: opacity 0.1s;
        width: 48px;
      }
    }

    .left {
      margin-left: $button-inset-margin;
    }

    .right {
      margin-right: $button-inset-margin;
    }

    .viewport {
      flex: 1;
      overflow: hidden;
      position: relative;

      .current,
      .previous {
        $separation-padding: 6px;
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        position: absolute;
        top: 0;
        width: 100%;

        .picture {
          margin: 15px 0;

          img {
            border: 1px solid $modal-border;
            height: 307px;
            width: 400px;
          }
        }

        .text {
          flex: 1;
          text-align: center;
          white-space: pre-wrap;
          width: 80%;
        }

        .navigation {
          margin: 10px 0;

          .navigation-link {
            cursor: pointer;
            height: 12px;
            margin: 0 3px;
            opacity: 0.8;
            transition: opacity 0.1s;
            width: 12px;

            &.active {
              cursor: default;
              opacity: 1;

              circle {
                fill: $modal-button-hover;
              }
            }

            &:hover {
              opacity: 1;
            }

            circle {
              fill: $modal-button;
            }
          }
        }
      }
    }
  }
}
