@import "../../../palette.scss";

$checkbox-height: 50px;
$box-dimension: $checkbox-height - 15px;
$horizontal-padding: 10px;

.Checkbox {
  border: 1px solid $green-darkest;
  background-color: $green-lightest;
  border-radius: 6px;
  width: 250px;
  height: $checkbox-height;
  margin: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0px $horizontal-padding;

  &:hover {
    background-color: $green-light;
  }

  &.checked {
    background-color: $green-base;

    &:hover {
      background-color: $green-dark;
    }
  }

  .icon {
    width: $box-dimension;
    height: $box-dimension;
    margin-right: ($horizontal-padding / 2);

    circle {
      fill: white;
    }
  }

  .label {
    flex: 1;
    user-select: none;
  }
}
