@use "@jyosuushi/palette";
@use "@jyosuushi/ui/constants";

.SettingsPage {
  padding: constants.$page-margin;

  h1 {
    border-bottom: 1px solid palette.$app-outline;
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto 15px;
    text-align: center;
    width: 50%;
  }

  .settings {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
