@use "@jyosuushi/palette";

.FormButton {
  border-radius: 6px;
}

.variant-primary {
  background-color: palette.$blue-darkest;
  border: 1px solid palette.$blue-darkest;
  font-weight: bold;

  &:disabled {
    background-color: palette.$blue-light;
    border-color: palette.$blue-light;
    color: palette.$blue-dark;
    opacity: 0.6;
  }

  &:not(:disabled):hover {
    background-color: palette.$blue-dark;
  }
}
