@import "../../palette.scss";

$panel-border: 8px solid $palette-history-panel-border;

.HistoryPanel {
  position: absolute;
  top: 0px;
  bottom: 0px;
  background-color: $palette-history-panel-background;
  border-right: $panel-border;
  width: 300px;
  transform: scaleX(0);
  transition: transform 0.3s;

  &.open {
    transform: scaleX(1);
  }

  .tab {
    position: absolute;
    border: $panel-border;
  }
}
