@use "@jyosuushi/palette";

.content {
  padding: 15px;
  text-align: center;
}

.buttonsContainer {
  margin-top: 15px;
}

.cancelButton,
.confirmButton {
  background-color: palette.$green-base;
  border-color: palette.$green-dark;
  font-size: 18px;
  width: 70px;
}

.confirmButton {
  background-color: palette.$green-dark;
  margin-left: 8px;
}
