@use "@jyosuushi/palette";

$modal-border: palette.$green-darkest;
$modal-background: palette.$green-lightest;
$modal-header: palette.$green-base;
$modal-button: palette.$black-darkest;
$modal-button-hover: palette.$green-darkest;
