@import "palette.scss";

html,
body,
#root {
  height: 100%;
  background-color: $palette-background-color;
  overflow: hidden;
}

.App {
  position: relative;
  height: 100%;
  background-color: $palette-background-color;
  display: flex;
  flex-direction: column;
}
