@import "palette.scss";

$font-family: "Ubuntu", Meiryo, sans-serif;
$intro-app-width: 800px;
$quiz-app-width: 1200px;

html,
body {
  height: 100%;
  background-color: $pink-light;
  overflow: hidden;
}

#root {
  height: 100%;
  overflow: hidden;
  background: url("diag.png");
}

.App {
  font-family: $font-family;
  position: relative;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  max-width: $intro-app-width;
  transition: max-width 0.25s ease-in;
  margin: auto;
  overflow: hidden;
  border-left: 1px solid $pink-base;
  border-right: 1px solid $pink-base;
  color: $black-darkest;

  &.quiz-active {
    max-width: $quiz-app-width;
  }

  @media (max-width: $intro-app-width) {
    &:not(.quiz-active) {
      border: 0px;
    }
  }

  @media (max-width: $quiz-app-width) {
    &.quiz-active {
      border: 0px;
    }
  }
}

.ReactModalPortal {
  font-family: $font-family;
}

a,
a:visited {
  text-decoration: underline;
  color: $pink-darkest;
  font-weight: 600;
}

a:hover {
  text-decoration: none;
  color: $pink-dark;
}

button {
  background-color: $pink-light;
  border: 1px solid $pink-base;
  border-radius: 4px;
  padding: 6px;
  cursor: pointer;
  font-family: $font-family;

  &:hover:not(:disabled) {
    border-width: 2px;
    padding: 5px;
  }

  &:disabled {
    background-color: $black-lightest;
    border-color: $black-base;
    cursor: default;
    color: white;
  }
}
