@use "constants";
@use "palette";

html,
body {
  background-color: palette.$pink-light;
  height: 100%;
}

html {
  background-color: palette.$pink-light;
  overflow: hidden;
}

body {
  background: url("diag.png");
  font-family: constants.$font-family;
  overflow-x: auto;
  overflow-y: scroll;
}

/* stylelint-disable-next-line selector-max-id */
:global(#root) {
  height: 100%;
}

.ReactModalPortal {
  font-family: constants.$font-family;
}

a,
a:visited,
.link {
  color: palette.$pink-darkest;
  cursor: pointer;
  font-weight: 600;
  text-decoration: underline;
}

a:hover,
.link:hover {
  color: palette.$pink-dark;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 0;
  font-size: 100%;
  padding: 0;
}

:global(.__react_component_tooltip.type-dark) {
  background-color: palette.$black-dark;

  &:global(.place-left)::after {
    border-left-color: palette.$black-dark;
  }

  &:global(.place-bottom)::after {
    border-bottom-color: palette.$black-dark;
  }

  &:global(.place-right)::after {
    border-right-color: palette.$black-dark;
  }

  &:global(.place-top)::after {
    border-top-color: palette.$black-dark;
  }

  &:global(.show) {
    opacity: 1;
  }
}

.flex {
  flex: 1;
}
