// current theme: https://www.colourlovers.com/palette/64569/Kyoto
$kyoto-black: #50484e;
$kyoto-blackish: #8a7985;
$kyoto-medium: #c0acb9;
$kyoto-pinkish: #e6cddd;
$kyoto-pink: #f08bcb;

$sakura-water-blueish: #c8d8e6;
$sakura-water-blue: #89adcc;
$sakura-water-black: #170301;

$palette-background-color: $kyoto-pinkish;

$palette-header-background: $sakura-water-blue;
$palette-header-border: $sakura-water-blueish;
$palette-header-color: #234766;

$palette-history-panel-background: $kyoto-medium;
$palette-history-panel-border: $kyoto-blackish;

$palette-score-bar-background: $kyoto-medium;
$palette-score-bar-border: $kyoto-pink;

$palette-answer-input-background: $kyoto-blackish;
$palette-answer-input-border: $kyoto-black;
$palette-answer-input-color: white;
