// https://paletton.com/#uid=12K0u0kaVz84jP27qHbeJtFiHpX
// monochromatic (1-color)
// preset: lightest pale pastel

$pink-lightest: #fee5eb;
$pink-light: #fdd1db;
$pink-base: #fbbdcb;
$pink-dark: #f8a8bb;
$pink-darkest: #f594aa;

$blue-lightest: #e4f0fb;
$blue-light: #cee2f5;
$blue-base: #b6d2ec;
$blue-dark: #9dc1e0;
$blue-darkest: #85aed2;

$green-lightest: #d6f0d0;
$green-light: #bce6b1;
$green-base: #a0db90;
$green-dark: #7fc76b;
$green-darkest: #5eae48;

$black-lightest: #3a3a3a;
$black-light: #303030;
$black-base: #202020;
$black-dark: #101010;
$black-darkest: #060606;

// Colours for displaying judgments
$incorrect-light: #ffcccc;
$incorrect-medium: #ee6363;
$incorrect-dark: #a02422;

$correct-light: #bcde91;
$correct-medium: #629632;
$correct-dark: #397d02;

$skipped-light: #cfd5e1;
$skipped-medium: #a6aec1;
$skipped-dark: #6c788e;
