@import "@jyosuushi/palette";

$border-radius: 6px;

.ChooserControl {
  display: flex;

  .choice {
    background-color: $green-lightest;
    border: 1px solid $green-darkest;
    border-left-width: 0;
    cursor: pointer;
    flex: 1;
    padding: 15px 0;
    text-align: center;

    &:hover {
      background-color: $green-light;
    }

    &:first-child {
      border-bottom-left-radius: $border-radius;
      border-left-width: 1px;
      border-top-left-radius: $border-radius;
    }

    &:last-child {
      border-bottom-right-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }

    &.selected {
      background-color: $green-base;
      cursor: default;

      &:hover {
        background-color: $green-base;
      }
    }

    .subtext {
      font-size: 12px;
      margin-top: 5px;
    }
  }
}
