@import "../../../palette";

.ExplorePageLanding {
  .contents {
    h3 {
      border-bottom: 1px solid $app-outline;
      font-size: 24px;
      font-weight: bold;
      margin: 0 auto 10px;
      text-align: center;
      width: 50%;
    }
  }
}
