@use "@jyosuushi/palette";

.Sidebar {
  background-color: palette.$blue-lightest;
  border-right: 1px solid palette.$app-outline;
  display: flex;
  flex-direction: column;
  min-width: 90px;
  width: 90px;
}
