@use "@jyosuushi/palette";

.entry {
  align-items: center;
  border-bottom: 1px solid transparent;
  color: palette.$black-base;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  height: 90px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  transition: filter 0.1s;

  &:visited {
    color: palette.$black-base;
  }

  &:not(:first-child) {
    border-top: 1px solid transparent;
  }

  svg {
    height: 48px;
    width: 48px;
  }
}

.variant-link {
  cursor: pointer;

  &:hover {
    background-color: palette.$blue-light;
    color: palette.$black-base;
  }

  &.active,
  &.active:hover {
    background-color: palette.$blue-base;
    border-bottom-color: palette.$app-outline;
  }

  &:not(:first-child).active {
    border-top-color: palette.$app-outline;
  }
}

.variant-inert {
  cursor: default;
  filter: blur(2px);
}
