@import "../../../palette.scss";

.ResultsView {
  display: flex;
  flex-direction: column;

  .results {
    display: flex;

    .info {
      margin-left: 20px;
      flex: 1;

      h3 {
        font-weight: bold;
        font-size: 40px;
        margin-top: 20px;
        border-bottom: 1px solid black;

        &.incorrect {
          color: $incorrect-dark;
          border-color: $incorrect-medium;
        }

        &.correct {
          color: $correct-dark;
          border-color: $correct-medium;
        }

        &.skipped {
          color: $skipped-dark;
          border-color: $skipped-medium;
        }
      }

      p {
        margin: 20px 0px;
      }
    }
  }

  button.ignore-answer {
    margin-right: 10px;
    background-color: $skipped-light;
    border-color: $skipped-medium;
  }
}
