@import "../../../../palette";
@import "../../../constants";

.counterCollectionView {
  overflow-y: auto;
}

.breadcrumbContainer {
  padding: $page-margin;
  padding-bottom: 5px;
}

.pageArea {
  display: grid;
  gap: $page-margin;
  grid-template-columns: 1fr;
  padding: $page-margin;
}
