@import "../../../../palette";
@import "../../../constants";

.counterCollectionView {
  overflow-y: auto;
}

.breadcrumbContainer {
  padding: $page-margin;
  padding-bottom: 5px;
}

.pageArea {
  padding: $page-margin;
}

.collectionContent {
  margin-bottom: $page-margin;
}
