@import "../../../../palette";
@import "../../../components/popups/ModalShared";

$horizontal-padding: 20px;
$vertical-padding: 10px;

.counterRow {
  &:hover:not(.disabled) {
    background-color: $green-light;
    cursor: pointer;

    svg {
      opacity: 1;

      path {
        fill: $modal-button-hover;
      }
    }
  }

  td {
    vertical-align: middle;
  }

  .jp {
    font-size: 32px;
    padding-left: $horizontal-padding;
    padding-right: 20px;
    text-align: center;
    white-space: nowrap;
    width: 1px;

    .counterDisplay {
      display: inline-block;
      margin-bottom: $vertical-padding;
      margin-top: $vertical-padding;
    }
  }

  .name {
    vertical-align: middle;
  }

  .button {
    padding-right: $horizontal-padding;
    width: 1px;

    svg {
      height: 32px;
      opacity: 0.65;
      width: 32px;

      path {
        fill: $modal-button;
      }
    }
  }
}
