@import "../../../../palette";
@import "../../../constants";

.counterCollectionView {
  overflow-y: auto;
}

.breadcrumbContainer {
  padding: $page-margin;
  padding-bottom: 5px;
}

.pageArea {
  padding: $page-margin;
}

.collectionName {
  border-bottom: 1px solid $app-outline;
  font-size: 24px;
  font-weight: bold;
  margin: 0 auto 20px;
  text-align: center;
  width: 50%;
}

.contentsIntro {
  margin: 8px 0;
  text-align: center;

  .bold {
    font-weight: 600;
  }
}
