@import "../../../../palette";
@import "../../../constants";

.counterCollectionView {
  overflow-y: auto;
}

.breadcrumbContainer {
  padding: $page-margin;
  padding-bottom: 5px;
}

.pageArea {
  padding: $page-margin;
}

.contentsIntro {
  margin: 8px 0;
  text-align: center;

  .bold {
    font-weight: 600;
  }
}
