@import "../../palette";

.Sidebar {
  background-color: $blue-lightest;
  border-right: 1px solid $app-outline;
  display: flex;
  flex-direction: column;
  min-width: 90px;
  width: 90px;

  .entry {
    align-items: center;
    border-bottom: 1px solid transparent;
    color: $black-base;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    height: 90px;
    justify-content: center;
    text-align: center;
    text-decoration: none;

    &:hover {
      background-color: $blue-light;
    }

    &:not(:first-child) {
      border-top: 1px solid transparent;

      &.active {
        border-top-color: $app-outline;
      }
    }

    &.active,
    &.active:hover {
      background-color: $blue-base;
      border-bottom-color: $app-outline;
    }

    svg {
      height: 48px;
      width: 48px;
    }
  }
}
